# URL proyek Supabase Anda (ambil dari Settings > API)
NEXT_PUBLIC_SUPABASE_URL=https://xgeyvhoertusdmgfyihq.supabase.co

# Anon Key Supabase Anda (ambil dari Settings > API)
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhnZXl2aG9lcnR1c2RtZ2Z5aWhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4ODYzNTIsImV4cCI6MjA4ODQ2MjM1Mn0.ZqirvL0Hh1KUxXr-3TA0I5w5_rw5e-mWcCvVnq6-Acs